
# Telegram Settings
TG_TOKEN="YOUR TELEGRAM TOKEN"
CHAT_ID="YOUR CHAT ID"

# List of URLs to monitor (space separated)
URLS=("https://google.com" "https://github.com")

# List of system services to monitor
SERVICES=("ssh" "cron")

# Log file path
LOG_FILE="sentinel.log"
